<footer id="footer-principal">
  <div class="container">
    <div>
      <h2>Logo&Demo</h2>
      <img src="../../../assets/images/logo-w.png" alt="">
      <p>Rem vitae facilis qui? Autem itaque accusantium maiores tempore. Quia sequi et consequuntur? Nulla aperiam
        dignissimos, architecto dicta necessitatibus explicabo repellendus dolore ad quo! Maiores nostrum odit dolore
        vero iusto tempora accusantium at doloremque.</p>
    </div>
    <div>
      <div>
        <h2>Quia sequi</h2>
        <ul>
          <li><a href="">Autem itaque accusantium</a></li>
          <li><a href="">Epellendus dolore ad quo</a></li>
          <li><a href="">Fugiat praesentium facilis</a></li>
          <li><a href="">Placeat quae magnam</a></li>
          <li><a href="">Eaque corporis quaerat</a></li>
          <li><a href="">Facere modi doloribus</a></li>
        </ul>
      </div>
      <div>
        <h2>Provident soluta</h2>
        <ul>
          <li><a href="">Repellat tempore provident</a></li>
          <li><a href="">Laboriosam ipsum earum</a></li>
          <li><a href="">Maiores quidem magni</a></li>
          <li><a href="">Placeat quae magnam</a></li>
          <li><a href="">Laudantium non</a></li>
        </ul>
      </div>
    </div>
    <div>
      <h2>Contact width as</h2>
      <address>
        <p><strong>Logo&Demo</strong></p>
        <p>C/ Mayor, 54 28001, Madrid, España</p>
        <p>(+34) 91 700 00 00</p>
        <p>info@logoanddemo.com</p>
      </address>
    </div>
  </div>
</footer>
