<header id="header-principal">
  <div class="container">
    <div class="header-logo">
      <img src="../../../assets/images/logo-w.png" alt="" />
    </div>
    <div class="header-searcher">
      <input type="search" placeholder="Buscar producto" /><label
        for=""
      ></label>
    </div>
    <div
      class="header-users"
      [ngClass]="{ logado: this.session.isLoggedIn() == true }"
    >
      <a
        class="icon icon-user"
        title="login"
        (click)="goToLogin()"
        *ngIf="this.session.isLoggedIn() == false"
      ></a>
      <a
        class="icon icon-user"
        title="login"
        *ngIf="this.session.isLoggedIn() == true"
        (click)="goToHistory()"
      ></a>
      <p *ngIf="this.session.isLoggedIn() == true">
        {{ this.session.getUserName() }}
      </p>
    </div>
    <app-cart></app-cart>
  </div>
  <app-navigation></app-navigation>
</header>
