<div class="cool-slider-frame">
  <div class="cool-slider-container">
    <div class="cool-slider-element">
      <img
        src="../../../assets/gallery/slider-01.jpg"
        alt=""
        class="img-center"
        draggable="false"
      />
      <div class="cool-slider-element-text">
        <h3>Consectetur adipisicing elit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. , aliquam
          sint earum laudantium sit, optio numquam et corporis reiciendis id?
          Eos, voluptatem porro!
        </p>
        <a href="#">Ver oferta</a>
      </div>
    </div>
  </div>
  <!-- <div class="cool-slider-container">
    <div class="cool-slider-element">
      <img
        src="../../../assets/gallery/slider-02.jpg"
        alt=""
        class="img-center"
        draggable="false"
      />
      <div class="cool-slider-element-text">
        <h3>Consectetur adipisicing elit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. , aliquam
          sint earum laudantium sit, optio numquam et corporis reiciendis id?
          Eos, voluptatem porro!
        </p>
        <a href="#">Ver oferta</a>
      </div>
    </div>
  </div> -->
  <!-- <div class="cool-slider-container">
    <div class="cool-slider-element">
      <img
        src="../../../assets/gallery/slider-03.jpg"
        alt=""
        class="img-center"
        draggable="false"
      />
      <div class="cool-slider-element-text">
        <h3>Consectetur adipisicing elit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. , aliquam
          sint earum laudantium sit, optio numquam et corporis reiciendis id?
          Eos, voluptatem porro!
        </p>
        <a href="#">Ver oferta</a>
      </div>
    </div>
  </div>
  <div class="cool-slider-container">
    <div class="cool-slider-element">
      <img
        src="../../../assets/gallery/slider-04.jpg"
        alt=""
        class="img-center"
        draggable="false"
      />
      <div class="cool-slider-element-text">
        <h3>Consectetur adipisicing elit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. , aliquam
          sint earum laudantium sit, optio numquam et corporis reiciendis id?
          Eos, voluptatem porro!
        </p>
        <a href="#">Ver oferta</a>
      </div>
    </div>
  </div>
  <div class="cool-slider-container">
    <div class="cool-slider-element">
      <img
        src="../../../assets/gallery/slider-05.jpg"
        alt=""
        class="img-center"
        draggable="false"
      />
      <div class="cool-slider-element-text">
        <h3>Consectetur adipisicing elit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. , aliquam
          sint earum laudantium sit, optio numquam et corporis reiciendis id?
          Eos, voluptatem porro!
        </p>
        <a href="#">Ver oferta</a>
      </div>
    </div>
  </div> -->
</div>
