<h1>{{ titlePage }}</h1>

<button (click)="this.session.logout()">Logout</button>

<table
  class="tabla-pedido cool-toggle-container"
  *ngFor="let pedido of pedidos"
>
  <thead class="cool-toggle-element-header">
    <tr class="titular">
      <th>Referencia: {{ pedido.id }}</th>
      <th>Fecha: {{ pedido.fecha | dateFormat }}</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody class="cool-toggle-element-content">
    <tr *ngFor="let item of pedido.items">
      <td>
        <img
          [src]="urlImages + item.imagen_producto"
          [alt]="item.nombre_producto"
        />
      </td>
      <td>{{ item.nombre_producto }}</td>
      <td>{{ item.precio_producto | priceFormat }}</td>
      <td>x {{ item.cantidad_producto }}</td>
      <td>{{ item.precio_producto * item.cantidad_producto | priceFormat }}</td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td class="importe-total">
        Total: {{ calcularTotalPedido(pedido) | priceFormat }}
      </td>
    </tr>
  </tbody>
</table>
