
$oscuro-1: #005161;
$oscuro-2: rgb(234, 250, 255);
$global-radius : .3rem;
$green-1 : #00af00;
$blue-1: #1a94f8;
$blue-2: #d6edff;
$turquis-1:#016A7D;
$global-padding:.5rem;
$max-width: clamp(320px,90vw,1200px);
$font1 : 'Nunito', sans-serif;
$font2 : 'Anton', sans-serif;
$titulos : $font2;
