<nav id="nav-principal" class="container">
  <ul>
    <li class="nav-principal-link"><a routerLink="home">Inicio</a></li>
    <li class="nav-principal-link"><a routerLink="categories">Categorias</a></li>
    <li class="nav-principal-link"><a routerLink="brands">Marcas</a></li>
    <li class="nav-principal-link"><a routerLink="register">Registro</a></li>
    <li class="nav-principal-link"><a routerLink="order">Pedido</a></li>
    <li class="nav-principal-link"><a routerLink="pruebas">Pruebas</a></li>
  </ul>
</nav>
